<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
</head>
<body>

  <header id="header">
    <img src="img/menuiconwhite.png" alt="menu" class="menu" id="menu">
    <div class="contenedor_logo">
        <img src="img/tecnomarketpngicono.png" alt="logo" class="logo">
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="contacto.html">Contácto</a>
                </li>
                <li>
                    <a href="galeria.html">Galería</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
      <div id="contenido">
        {% block contenido %}

        {% endblock %}
      </div>
   
</body>
</html>

