{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--Links-->
    <link rel="stylesheet" href="{% static 'css\form_ingreso.css' %}">
    <script src="{% static 'js\header.js' %}"></script>


</head>

<body>
    <header id="h" style="padding: 10px;">
        <div id="b_home">
            <button class='bx bxs-home bx-md'
                style="color: #191919; background-color: transparent; border-color: transparent;"></button>
        </div>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn bx bxs-user-rectangle"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home">Información 1</a>
                <a href="#about">Informacion 2</a>
                <a href="#contact" id="c_s">
                    <i class='bx bx-log-out bx-sm' style="margin-right: 12px;">
                    </i>Cerrar Sesión</a>
            </div>
        </div>
    </header> <br>
    <div>
        <h1 id="titulo">Registro Ingreso</h1>
        <hr id="linea"><br>
        <div class="container">
            <fieldset id="marco">
                <div class="row">
                    <form id="form" action="">
                        <h5>1. Nombre Completo</h5><br>
                        <div class="form-group">
                            <div class="container" id="con_l">
                                <div class="row">
                                    <div class="col-6">
                                        <label id="titulo_c">Primer Nombre</label>
                                        <input id="input_d" 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Primer Nombre"
                                            required>
                                    </div><br>
                                    <div class="col-6">
                                        <label id="titulo_c">Segundo Nombre</label>
                                        <input id="input_d" 
                                            type="text" 
                                            class="form-control"
                                            placeholder="Segundo Nombre">
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="container" id="con_l">
                                <div class="row">
                                    <div class="col-6">
                                        <label id="titulo_c">Apellido Paterno</label>
                                        <input id="input_d" 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Apellido Paterno"
                                            required>
                                    </div><br>
                                    <div class="col-6">
                                        <label id="titulo_c">Apellido Materno</label>
                                        <input id="input_d" 
                                            type="text" 
                                            class="form-control"
                                            placeholder="Apellido Materno"
                                            required>
                                    </div>
                                </div>
                            </div> <br>
                        </div>
                        <hr>
                        <h5>2. Datos Personales</h5> <br>
                        <div class="form-group">
                            <div class="container" id="con_l">
                                <div class="row">
                                    <div class="col-6">
                                        <label id="titulo_c">Identificación (R.U.T)</label>
                                        <input id="input_d" 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="R.U.T"
                                            required>
                                    </div><br>
                                    <div class="col-6">
                                        <label id="titulo_c">Nacionalidad</label>
                                        <input id="input_d" 
                                            type="text" 
                                            class="form-control"
                                            placeholder="Nacionalidad"
                                            required>
                                    </div>
                                </div>
                            </div> <br>
                        </div>
                        <div class="form-group">
                            <div class="container" id="con_l">
                                <div class="row">
                                    <div class="col-6">
                                        <label id="titulo_c">Edad</label>
                                        <input id="input_d" 
                                            class="form-control" 
                                            type="number" 
                                            min="18"
                                            placeholder="Edad"
                                            required>
                                            
                                    </div><br>
                                    <div class="col-6">
                                        <label id="titulo_c">Discapacidad</label>
                                        <input id="input_d" 
                                            type="text" 
                                            class="form-control"
                                            placeholder="Discapacidad">
                                    </div>
                                </div>
                            </div> <br>
                            <hr>
                            <h5>3. Otros</h5> <br>
                            <div class="form-group">
                                <div class="container" id="con_l">
                                    <div class="row">
                                        <div class="col-6">
                                            <label id="titulo_c">Preferencias</label>
                                            <textarea id="input_d" 
                                                type="text" 
                                                class="form-control"></textarea>
                                        </div><br>
                                        <div class="col-6">
                                            <label id="titulo_c">Necesidades</label>
                                            <textarea id="input_d" 
                                                type="text" 
                                                class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div> <br>
                            </div>
                        </div>

                        <br>
                        <!-- Otros campos del formulario -->
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>

            </fieldset>
        </div>
    </div>
</body>

</html>