{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=dry_cleaning" />

    <link rel="stylesheet"  href="{% static 'css\servicio_lista.css' %}">
    <script src="{% static "js\header.js" %}"></script>

</head>

<body>
    <header id="h" style="padding: 10px;">
        <div id="b_home">
            <button class='bx bxs-home bx-md'
                style="color: #191919; background-color: transparent; border-color: transparent;"></button>
        </div>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn bx bxs-user-rectangle"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home">Información 1</a>
                <a href="#about">Informacion 2</a>
                <a href="#contact" id="c_s">
                    <i class='bx bx-log-out bx-sm' style="margin-right: 12px;">
                    </i>Cerrar Sesión</a>
            </div>
    </header>
    <br>
    <h1 id="titulo">Servicios</h1>
    <hr id="linea">

    <div class="container mt-5" style="display: flex; justify-content: center;">

        <div class="row">
            <!--Tarjeta Alimentación-->
            <div class="card mb-3" id="dos">
                <div class="row g-0">
                    <div class="col-md-4" id="d_imagen">
                        <i class="bx bx-restaurant"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Alimentación</h5>
                            <p class="card-text">Entrega de alimentos diarios y en el horario establecido</p>
                            <div class="mt-auto d-flex justify-content-center" id="b_ir_ficha">
                                <a href="#" class="btn btn-primary">Registrar Uso</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Tarjeta Lavandería-->
            <div class="card mb-3" style="max-width: 340px;margin: 20px;">
                <div class="row g-0">
                    <div class="col-md-4" id="d_imagen">
                        <span class="bx bxs-washer"></span>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Lavandería</h5>
                            <p class="card-text">Disposición de maquinas de limpieza para vestimentas</p>
                            <div class="mt-auto d-flex justify-content-center" id="b_ir_ficha">
                                <a href="#" class="btn btn-primary">Registrar Uso</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Tarjeta Ropería-->
            <div class="card mb-3" style="max-width: 340px;margin: 20px;">
                <div class="row g-0">
                    <div class="col-md-4" id="d_imagen">
                        <i class="bx bxs-t-shirt"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Ropería</h5>
                            <p class="card-text">Entrega de vestimentas personal y/o de cama</p>
                            <div class="mt-auto d-flex justify-content-center" id="b_ir_ficha">
                                <a href="#" class="btn btn-primary">Registrar Uso</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Tarjeta Duchas-->

            <div class="card mb-3" style="max-width: 340px;margin: 20px;">
                <div class="row g-0">
                    <div class="col-md-4" id="d_imagen">
                        <i class="bx bx-shower"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Duchas</h5>
                            <p class="card-text">Duchas exclusivas y separadas para hombres y mujeres</p>
                            <div class="mt-auto d-flex justify-content-center" id="b_ir_ficha">
                                <a href="#" class="btn btn-primary">Registrar Uso</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Tarjeta Duchas-->

            <div class="card mb-3" style="max-width: 340px;margin: 20px;">
                <div class="row g-0">
                    <div class="col-md-4" id="d_imagen">
                        <i class="bx bxs-hotel"></i>
                    </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Pernoctación</h5>
                                <p class="card-text">Espacio exclusivo para los integrantes, horario max. 23:00hrs</p>
                                <div class="mt-auto d-flex justify-content-center" id="b_ir_ficha">
                                <a href="#" class="btn btn-primary">Registrar Uso</a>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</body>

</html>